


<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    Id="1"
    photoCover="https://m.media-amazon.com/images/I/418Vz+WLU6L.jpg"
    cardTitle=" The Beginning After the End, Volume 01 | NewPOP Editora "
    cardDescripition="O rei Gray é um governante notável com um reinado próspero, mas, no entanto… a opulência e o sucesso não podem enterrar o vazio e a solidão. Seu tempo como rei, contudo, chega a um fim abrupto e ele reencarna como Arthur Leywin – um bebê nascido em um mundo de magia e monstros. Equipado com memórias de sua vida anterior e o desejo de proteger o calor recém-descoberto que o cerca, Art começa sua jornada para se tornar um poderoso guerreiro mais uma vez."
    >
  </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="The Beginning After the End, Vol. 2"
      photoCover="https://m.media-amazon.com/images/I/81QgeYzlX3L._AC_UF1000,1000_QL80_.jpg"
    >

    </app-small-card>
    <app-small-card
      Id="3"
      cardTitle="The Beginning After the End, Vol. 3"
      photoCover="https://m.media-amazon.com/images/I/81W5HtwwKTL._AC_UF1000,1000_QL80_.jpg"
    >
    </app-small-card>
    <app-small-card
      Id="4"
      cardTitle="The Beginning After the End, Vol. 4"
      photoCover="https://m.media-amazon.com/images/I/41y+rXwZraL.jpg"
    >
    </app-small-card>

  </div>

</div>
